*,
*:before,
*:after{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6, p, img, a{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
    margin: 0 auto;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    background-color: #fff;
    /*background: rgb(138,255,134);
    background: linear-gradient(0deg, rgba(138,255,134,1) 0%, rgba(186,241,184,1) 100%);*/
    color: rgb(13, 173, 98);
    padding-bottom: 30px;
}

.intro{
    padding: 1rem 0;
}

.intro__logo{
    width: 60%;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    border-radius: 0%;
}

.title{
    font-size: 40px;
    font-weight: 550;
    text-align: center;
    margin: 1.2rem auto;
    max-width: 700px;
}

.text{
    font-size: 22px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.btn{
    background-color: rgb(13, 173, 98);
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 20px;
    outline: 0;
    border: 1px solid rgb(9, 128, 72);
    text-transform: uppercase;
}

.button_box{
    text-align: center;
    margin: 2rem auto;
}

.button_box.form{
    margin: 1rem auto;
    margin-top: 40px;
}

.product__img{
    width: 60%;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.form__input{
    border: 0;
    outline: 0;
    border: 2px solid rgba(138, 138, 138, 0.548);
    border-radius: 20px;
    padding: 20px 20px;
    background-color: rgb(255, 255, 255);
    width: 350px;
}

.form__input:focus{
    border: 2px solid rgba(138, 138, 138, 0.8);
}

.form__input::placeholder{
    color: rgb(128, 128, 128);
}

.forms__img{
    width: 53%;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.forms__text{
    text-align: center;
}

img{
    border-radius: 20px;
}

@media (max-width: 767px){
    .intro__logo{
        width: 80%;
        margin-bottom: 2rem;
    }
    .title{
        font-size: 29px;
    }
    .text{
        font-size: 19px;
    }
    .btn{
        font-size: 16px;
    }
    .product__img{
        margin-bottom: 2rem;
    }
    .forms__img{
        width: 93%;
    }
}
